    *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    
    body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:white;
    overflow-x:hidden;
    }
    
    
    /* NAVBAR */
    
    .navbar{
    background:#020617;
    border-bottom:1px solid #1e293b;
    position:sticky;
    top:0;
    z-index:100;
    }
    
    .nav-container{
    max-width:1200px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 20px;
    }
    
    .logo img{
    height:55px;
    }
    .menu-toggle{
    display:none;
    font-size:28px;
    cursor:pointer;
    }
    
    /* NAV LINKS */
    
    .nav-links{
    display:flex;
    gap:20px;
    list-style:none;
    }
    
    .nav-links a{
    color:white;
    text-decoration:none;
    font-size:15px;
    position:relative;
    }
    
    .nav-links a::after{
    content:"";
    position:absolute;
    height:2px;
    left:0;
    bottom:-3px;
    width:0;
    background:#ef4444;
    transition:0.3s;
    }
    
    .nav-links a:hover::after{
    width:100%;
    }
    
    /* SEARCH */
    
    .search-box input{
    background:#111;
    border:1px solid #444;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    }
    
    
    /* HERO */
    
    .hero{
    height:600px;
    
    background:
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("./images/mainback.png");
    
    background-size:cover;
    background-position:center;
    
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    }

    .container{
        max-width:1200px;
        margin:auto;
        padding:0 20px;
    }
    
    .hero-content{
    max-width:700px;
    }
    
    .hero h1{
    font-size:56px;
    margin-bottom:10px;
    }
    
    .hero p{
    color:#94a3b8;
    margin-bottom:20px;
    font-size:18px;
    }
    
    .hero-btn{
    background:#ef4444;
    border:none;
    padding:12px 25px;
    border-radius:25px;
    color:white;
    cursor:pointer;
    transition:0.3s;
    }
    
    .hero-btn:hover{
    background:#dc2626;
    transform:translateY(-2px);
    }
    
    
    /* SECTION */
    
    .section{
    padding:60px 20px;
    }
    
    .section h2{
    border-left:4px solid #ef4444;
    padding-left:10px;
    margin-bottom:20px;
    }
    
    
    /* MANGA ROW */
    
    .manga-row{
    display:flex;
    gap:20px;
    overflow-x:auto;
    scroll-behavior:smooth;
    padding-bottom: 10px;
    }
    
    /* SCROLLBAR */
    
    .manga-row::-webkit-scrollbar{
    height:6px;
    }
    
    .manga-row::-webkit-scrollbar-thumb{
    background:#ef4444;
    border-radius:10px;
    }
    
    
    /* CARD */
    
    .manga-card{
    flex:0 0 200px;
    height:300px;
    border-radius:10px;
    overflow:hidden;
    transition:0.25s;
    }
    
    .manga-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    }
    
    .manga-card:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 30px rgba(0,0,0,0.6);
    filter:brightness(1.05);
    }
    
    
    /* RESPONSIVE */
    
    @media (max-width:768px){
    
    .nav-links{
    gap:12px;
    }
    
    .nav-links a{
    font-size:14px;
    }
    
    .search-box input{
    width:110px;
    }
    
    .hero h1{
    font-size:40px;
    }
    
    .manga-card{
    flex:0 0 160px;
    height:240px;
    }
    
    }

    @media (max-width:426px){

        .nav-links{
        display:none;
        }
        
        .search-box input{
        width:90px;
        font-size:12px;
        padding:4px 8px;
        }
        
        .logo img{
        height:45px;
        }
        
        .hero h1{
            font-size:30px;
        }
            
        .hero p{
            font-size:14px;
        }
            
        .hero{
            height:450px;
        }
        .manga-card{
            flex:0 0 140px;
            height:210px;
        }
        }
        @media (max-width:500px){

            .nav-links{
            display:none;
            }
            
            .search-box input{
            width:95px;
            font-size:12px;
            padding:4px 8px;
            }
            
            .logo img{
            height:45px;
            }
            .hero h1{
                font-size:30px;
            }
                
            .hero p{
                font-size:14px;
            }
                
            .hero{
                height:450px;
            }
            
            .manga-card{
                flex:0 0 140px;
                height:210px;
            }
            }
            @media (max-width:600px){

                .menu-toggle{
                display:block;
                }
                
                .nav-links{
                position:absolute;
                top:70px;
                left:0;
                width:100%;
                background:#020617;
                flex-direction:column;
                align-items:center;
                gap:20px;
                padding:20px 0;
                display:none;
                }
                
                .nav-links.active{
                display:flex;
                }
                
                .search-box{
                display:none;
                }
                
                }